body {
  background-image: url(./background_image.jpg);
  color: white;
}
#container {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px 25px 2px 25px;
}
header {
  margin: auto;
  text-align: center;
}
#title {
  margin: auto;
  font-size: 90px;
  font-family: 'Bowlby One SC', cursive;
  font-variant: small-caps;
  font-weight: 900;
}
#title-span {
  color: #ff0000;
  margin-left: -15px;
}
#description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  font-weight: 400;
}
#survey-form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 40px;
  width: 25%;
  margin: 20px auto 0px;
}
.box {
  margin: 15px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}
input[type="text"] {
  margin-top: 10px;
  padding-left: 8px;
  width: 100%;
  height: 60px;
  border-radius: 2;
  box-sizing: border-box;
}
select {
  margin-top: 10px;
  padding-left: 8px;
  width: 95%;
  height: 40px;
  border-radius: 2;
  box-sizing: border-box;
}
textarea {
  border-radius: 2;
  width: 85%;
  padding: 8px;
  margin-top: 10px;
}
#submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
#submit > input {
  background-color: #ff0000;
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 100px;
  font-size: 18px;
}
